<!DOCTYPE html>
<!--Layout związany z zarządzaniem użytkowników-->
<html>
<head>
    <title>@ViewBag.Title</title>
    <meta name="viewport" content="width=device-width" />
    <link href="@Url.Content("~/Content/Site1.css")" rel="stylesheet" />
    <link href="@Url.Content("~/Content/themes/base/jquery-ui.css")" rel="stylesheet" />
</head>
<body>
    <header>
        <!--Menu Nagłówek start przenosi do głównej strony -->
        <div style="overflow: hidden; margin-bottom: 30px;">
            <a class="manageLink" href="@Url.Action("Index", "Home")">
                Start
            </a>
            <!--Przeniesie nas do widoku Zarządania użytkownikami-->
            <a class="manageLink" href="@Url.Action("Index", "Manage")">
                Twoje dane
            </a>
            <!--Strona z możliwością przeglądania zamówień (LISTA ZAMÓWIEŃ, historia zamówień użytkownika. Administrator będzie mógł zobaczyć listę
                wszystkich zamówień w systemie)-->
            <a class="manageLink" href="@Url.Action("ListaZamowien", "Manage")" style="width: 100px">
                Zamówienia
            </a>
            <!--Link tylko dla administratora (jeśli jest adminem)-->
            @if (@User.IsInRole("Admin"))
            {   <!--to będzie mógł dodawać produkty do bazy-->
                <a class="manageLink" href="@Url.Action("DodajProdukt", "Manage")">
                    Dodaj
                </a>
                <a class="manageLink" href="@Url.Content("~/elmah")">
                    Logi
                </a>
                <a class="manageLink" href="@Url.Content("~/hangfire")">
                    Jobs
                </a>

            }
            <!--Wyświetlam ilość elementów koszyka-->
          
                <a id="koszykHeaderLink" href="@Url.Action("Index", "Koszyk")">
                    KOSZYK (<span id="koszyk-naglowek-ilosc-elementow">@Html.Action("PobierzIloscElementowKoszyka", "Koszyk")</span>)
                    <span id="cart-header-logo"></span>
                </a>
                @Html.Partial("_LoginPartial")
            </div>
        <!--ścieżka nawigacyjna-->
        <div id="Breadcrumb">
            <img src="@Url.Content("~/Content/Images/dommaly.png")" />
            @Html.MvcSiteMap().SiteMapPath()
        </div>
    </header>

    <div>
        @RenderBody()
    </div>
    <!--Linki do stron statycznych -->
    
    <footer>
        <nav>
            <ul>
                <li><a href="@Url.Action("StronyStatyczne","Home", new { nazwa = "Onas" })" style="">O nas</a></li>
                <li><a href="@Url.Action("StronyStatyczne","Home", new { nazwa = "Reklamacje" })" style="">Reklamacje</a></li>
                <li><a href="@Url.Action("StronyStatyczne","Home", new { nazwa = "Bezpieczenstwo" })" style="">Bezpieczeństwo</a></li>
                <li><a href="@Url.Action("StronyStatyczne","Home", new { nazwa = "Regulamin" })" style="">Regulamin</a></li>
                <li><a href="@Url.Action("StronyStatyczne","Home", new { nazwa = "Kontakt" })" style="">Kontakt</a></li>
            </ul>
        </nav>
        <div id="footerlogo1">
        </div>
        <div id="footercopyright1">
            Copyright &copy; 2017 Sklep Krav Maga. All Rights Reserved
        </div>
    </footer>

    @RenderSection("Scripts", required: false)
</body>
</html>